<!-- Filepath: ops-frontend/src/app/shared/components/navbar/navbar.html -->
<mat-toolbar color="primary" class="navbar">
    <div class="brand">
        <mat-icon>inventory_2</mat-icon>
        <span>OPS</span>
    </div>
    <span class="spacer"></span>
    <a
        mat-button
        routerLink="/"
        routerLinkActive="active">
        Home
    </a>
    <a        
        routerLink="/login">
        Login
    </a>
    <a        
        href="https://www.google.com/">
        Visit Google
    </a>
    <button mat-icon-button>
        <mat-icon>dark_mode</mat-icon>
    </button>
</mat-toolbar>